@import '../../../styles/responsive';
@import '../../../styles/variables';

.boardButtonSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 10px 0px 11px 0px;
  border-radius: 8px;
  color: $light-button-text;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  border: none;

  cursor: pointer;
  &.theme-violet {
    background-color: $violet-button-bg;
    color: $violet-button-text;
    transition: background-color linear 200ms;
    &:hover {
      background-color: $violet-button-bg-hover;
    }
  }
  &.theme-dark {
    background-color: $dark-button-bg;
    color: $dark-button-text;
    &:hover {
      background-color: $dark-button-bg-hover;
    }
  }
  &.theme-light {
    background-color: $light-button-bg;
    color: $light-button-text;
    &:hover {
      background-color: $light-button-bg-hover;
    }
  }
}
.boardButtonIcon {
  display: block;
  &.theme-light {
    background-color: $light-button-text;
    stroke: $light-sidebar-bg;
  }
  &.theme-dark {
    background-color: $dark-button-text;
    stroke: $dark-main-text;
  }
  &.theme-violet {
    background-color: $violet-button-text;
    stroke: $violet-main-text;
  }
}
.boardButtonIcon_wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  &.theme-light {
    background-color: $light-button-text;
  }
  &.theme-dark {
    background-color: $dark-button-text;
  }
  &.theme-violet {
    background-color: $violet-button-text;
  }
}
