@import '../../styles/variables.scss';
.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  & .user-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  & .open-modal-button {
    border: none;
    background: none;
  }
  .user-avatar {
    border-radius: 20%;
  }
  .avatar {
    &.theme-light {
      color: $light-main-text;
    }

    &.theme-violet {
      color: $violet-main-text;
    }
    &.theme-dark {
      color: $dark-main-text;
    }
  }
}
