@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.column {
  display: inline-block;
  // width: 350px;
  margin-right: 18px;

  @include pre-mobile {
    width: 300px;
  }

  @include mobile {
    width: 350px;
  }
}

.column_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 334px;
  padding: 18px 20px;
  margin-bottom: 14px;
  border-radius: 8px;

  @include pre-mobile {
    max-width: 280px;
  }

  @include mobile {
    max-width: 334px;
    min-width: 334px;
  }

  &.theme-light {
    background-color: $light-sidebar-bg;
  }
  &.theme-dark {
    background-color: $dark-sidebar-bg;
  }
  &.theme-violet {
    background-color: $violet-header-bg;
  }
}
.column_headerTitle {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;

  &.theme-light {
    color: $light-main-text;
  }
  &.theme-dark {
    color: $dark-main-text;
  }
  &.theme-violet {
    color: $violet-main-text;
  }
}

.column_buttonWrap {
  display: flex;
  gap: 8px;
}

.column_buttonBox {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.column_buttonIcon {
  display: block;
  width: 16px;
  height: 16px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.theme-light {
    color: $light-secondary-text;
    &:hover {
      color: $light-icon-hover;
    }
  }
  &.theme-dark {
    color: $dark-secondary-text;
    &:hover {
      color: $dark-icon-hover;
    }
  }
  &.theme-violet {
    color: $violet-secondary-text;
    &:hover {
      color: $violet-icon-hover;
    }
  }
}

.column_buttonAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 280px;
  // width: 334px;
  padding: 14px 60px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;

  border-radius: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mobile {
    width: 334px;
    padding: 14px 88px;
  }

  &.theme-light {
    color: $light-button-text;
    background-color: $light-button-bg;
    &:hover {
      background-color: $dark-button-bg-hover;
    }
  }
  &.theme-dark {
    color: $dark-button-text;
    background-color: $dark-button-bg;
    &:hover {
      background-color: $light-button-bg-hover;
    }
  }
  &.theme-violet {
    color: $violet-button-text;
    background-color: $violet-button-bg;
    &:hover {
      background-color: $violet-button-bg-hover;
    }
  }
}

.column_buttonAddIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  border-radius: 8px;

  &.theme-light {
    color: $light-sidebar-bg;
    background-color: $light-button-text;
  }
  &.theme-dark {
    color: $dark-main-text;
    background-color: $dark-button-text;
  }
  &.theme-violet {
    color: $violet-secondary-text;
    background-color: $violet-button-text;
  }
}

.cardsWrap {
  display: flex;
  flex-direction: column;
  // gap: 8px;

  margin-bottom: 14px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
  }

  &.theme-light {
    &::-webkit-scrollbar-track {
      background-color: $light-vertical-scrollbar-track;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $light-vertical-scrollbar-thumb;
    }
  }

  &.theme-dark {
    &::-webkit-scrollbar-track {
      background-color: $dark-vertical-scrollbar-track;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark-vertical-scrollbar-thumb;
    }
  }

  &.theme-violet {
    &::-webkit-scrollbar-track {
      background-color: $violet-vertical-scrollbar-track;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $violet-vertical-scrollbar-thumb;
    }
  }

  @include pre-mobile {
    height: calc(100vh - 330px);
  }

  @include tablet {
    height: calc(100vh - 374px);
  }

  @include desktop {
    min-height: calc(100vh - 280px);
  }
}
