@import '../../styles/variables';
.columnForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .columnTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.02em;
  }
  .titleInput {
    width: 302px;
    padding: 14px 18px;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    opacity: 40%;
    &:active,
    &:focus {
      opacity: 100%;
    }

    &.theme-violet {
      background: transparent;
      border: $violet-button-border;
      box-shadow: $violet-button-box-shadow;
      color: $violet-main-text;
    }
    &.theme-light {
      color: $dark-main-text;
      background: transparent;
      border: $light-button-border;
      box-shadow: $light-button-box-shadow;
      color: $light-main-text;
    }
    &.theme-dark {
      background: transparent;
      border: $dark-button-border;
      box-shadow: $dark-button-box-shadow;
      color: $dark-main-text;
    }
  }
  .columnButton {
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    font-family: Poppins;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &.theme-violet {
      background: $violet-button-bg;
      color: $violet-button-text;
      &:hover {
        background-color: $violet-button-bg-hover;
      }
    }
    &.theme-light {
      background: $light-button-bg;
      color: $light-button-text;
      &:hover {
        background-color: $light-button-bg-hover;
      }
    }
    &.theme-dark {
      background: $dark-button-bg;
      color: $dark-button-text;
      &:hover {
        background-color: $dark-button-bg-hover;
      }
    }
    & .columnIcon {
      border-radius: 8px;
      height: 28px;
      &.theme-violet {
        color: $violet-main-text;
        padding: 7px;
        background: $violet-button-text;
      }
      &.theme-light {
        background: $light-main-text;
        padding: 7px;
        color: $light-sidebar-bg;
      }
      &.theme-dark {
        background: $dark-button-text;
        padding: 7px;
        color: $dark-main-text;
      }
    }
  }
  .errorMessage {
    font-size: 12px;
    color: #f75e66;
  }
  .columnInputWrapper {
    .titleInput {
      margin-bottom: 5px;
    }
  }
}
