$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

@mixin mobile {
  @media screen and (max-width: ($mobile)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: ($tablet)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: ($desktop)) {
    @content;
  }
}
