@import './variables.scss';

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: $dark-scroll-track;
  border-radius: 4px;

  // theme-light {
  //   background-color: $light-scroll-track;
  // }
  // theme-dark {
  //   background-color: $dark-scroll-track;
  // }
  // theme-violet {
  //   background-color: $violet-scroll-track;
  // }
}

::-webkit-scrollbar-thumb {
  background-color: $light-scroll-thumb;
  border-radius: 4px;

  // theme-light {
  //   background-color: $light-scroll-thumb;
  // }
  // theme-dark {
  //   background-color: $dark-scroll-thumb;
  // }
  // theme-violet {
  //   background-color: $violet-scroll-thumb;
  // }
}
