//Light theme
$light-header-bg: #fcfcfc;
$light-sidebar-bg: #fff;
$light-screens-bg: #f6f6f7;
$light-modal-bg: #fcfcfc;
$light-modal-input-bg: #fcfcfc;
$light-modal-input-border: rgba(190, 219, 176, 0.4);
$light-modal-input-border-active: rgba(190, 219, 176, 1);
$light-main-text: #161616;
$light-secondary-text: rgba(22, 22, 22, 0.7);
$light-button-bg: #bedbb0;
$light-button-bg-hover: #9dc888;
$light-button-text: #161616;
$light-theme-title: #161616cc;
$light-border: 1px solid #bedbb0;
$light-box-shadow: 0px 4px 16px 0px #1111111a;
$light-button-border: 1px solid #bedbb0;
$light-button-box-shadow: 0px 4px 16px 0px #16161614;
$light-icon-hover: #bedbb0;
$light-vertical-scrollbar-track: #e8e8e8;
$light-vertical-scrollbar-thumb: rgba(22, 22, 22, 0.1);
$light-horizontal-scrollbar-track: #fff;
$light-horizontal-scrollbar-thumb: #e8e8e8;
$light-active-board-marker: #bedbb0;

//Dark theme
$dark-header-bg: #161616;
$dark-sidebar-bg: #121212;
$dark-screens-bg: #1f1f1f;
$dark-modal-bg: #151515;
$dark-modal-input-bg: #1f1f1f;
$dark-modal-input-border: rgba(190, 219, 176, 0.4);
$dark-modal-input-border-active: rgba(190, 219, 176, 1);
$dark-main-text: #fff;
$dark-secondary-text: rgba(255, 255, 255, 0.5);
$dark-button-bg: #bedbb0;
$dark-button-bg-hover: #9dc888;
$dark-button-text: #161616;
$dark-border: 1px solid #bedbb0;
$dark-box-shadow: 0px 4px 16px 0px #1111111a;
$dark-icon-color: #ffffffcc;
$dark-icon-hover: #bedbb0;
$dark-button-border: 1px solid #bedbb0;
$dark-button-box-shadow: 0px 4px 16px 0px #16161614;
$dark-vertical-scrollbar-track: rgba(255, 255, 255, 0.1);
$dark-vertical-scrollbar-thumb: #121212;
$dark-horizontal-scrollbar-track: #161616;
$dark-horizontal-scrollbar-thumb: rgba(255, 255, 255, 0.1);
$dark-50-transparent: #ffffff80;
$dark-active-board-marker: #bedbb0;

//Violet theme
$violet-header-bg: #fff;
$violet-sidebar-bg: #5255bc;
$violet-sidebar-text: #fff;
$violet-screens-bg: #ecedfd;
$violet-modal-bg: #fcfcfc;
$violet-modal-input-bg: #fcfcfc;
$violet-modal-input-border: rgba(82, 85, 188, 0.4);
$violet-modal-input-border-active: rgba(82, 85, 188, 1);
$violet-main-text: #161616;
$violet-secondary-text: rgba(22, 22, 22, 0.7);
$violet-button-bg: #5255bc;
$violet-button-bg-hover: #7b7ede;
$violet-button-text: #fff;
$violet-theme-title: #161616cc;
$violet-box-shadow: 0px 4px 16px 0px #1111111a;
$violet-border: 1px solid #ecedfd;
$violet-button-border: 1px solid #5255bc;
$violet-button-box-shadow: 0px 4px 16px 0px #16161614;
$violet-icon-hover: #5255bc;
$violet-vertical-scrollbar-track: #fff;
$violet-vertical-scrollbar-thumb: rgba(184, 188, 253, 1);
$violet-horizontal-scrollbar-track: #fff;
$violet-horizontal-scrollbar-thumb: #b8bcfd;
$violet-active-board-marker: #fff;

//Welcome
$welcome-background: linear-gradient(
  180deg,
  rgba(196, 196, 196, 0) 25%,
  #bedbb0 92.19%
);
$welcome-dark-color: #161616;
$welcome-light-color: #fff;
$link-background: rgba(176, 234, 147, 0.515);

//Register-Login
$form-background: #151515;
$no-active-link: rgba(255, 255, 255, 0.3);
$input-color: rgba(31, 31, 31, 1);
$input-text: rgba(255, 255, 255, 1);
$input-border: rgba(190, 219, 176, 1);
$input-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
$register-button: rgba(190, 219, 176, 1);
$register-button-text: rgba(22, 22, 22, 1);
$register-button-hov: rgb(168, 213, 145);
$wrong-data-text: rgb(255, 99, 99);

// Calendar

$calendar-line:rgba(22, 22, 22, 0.2);
$calendar-selected-day:rgba(252, 252, 252, 1);
$violet-calendar-day-text: rgba(22, 22, 22, 1);
$violet-navigation-icon-previous: rgba(22, 22, 22, 0.8);
$violet-calendar-weekday-text: rgba(22, 22, 22, 0.5);
