@import '../../styles/responsive';
@import '../../styles/variables';

.home {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  width: 100%;
  color: #fff;

  .home-wrapper {
    text-align: center;
    flex-grow: 1;

    &.theme-violet {
      background-color: $violet-screens-bg;
    }
    &.theme-dark {
      background-color: $dark-screens-bg;
    }
    &.theme-light {
      background-color: $light-screens-bg;
    }
  }
}
