@import '../../styles/responsive';
@import '../../styles/variables';

.home {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  width: 100%;
  color: #fff;

  .home-wrapper {
    text-align: center;
    flex-grow: 1;
    background-color: $dark-screens-bg;
  }
}
