@import '../../styles/responsive';
@import '../../styles/variables';

.cardWrapper {
  max-width: 280px;
  min-height: 154px;
  border-radius: 8px;
  margin-top: 8px;
  padding: 14px 20px 14px 24px;

  @include mobile {
    min-width: 334px;
  }

  &.theme-light {
    background-color: $light-sidebar-bg;
  }
  &.theme-dark {
    background-color: $dark-sidebar-bg;
  }
  &.theme-violet {
    background-color: $violet-header-bg;
  }
  &.priorityClass-high {
    border-left: 4px solid rgba(190, 219, 176, 1);
  }
  &.priorityClass-medium {
    border-left: 4px solid rgba(224, 156, 181, 1);
  }
  &.priorityClass-low {
    border-left: 4px solid rgba(143, 161, 208, 1);
  }
  &.priorityClass-without {
    border-left: 4px solid rgb(128, 128, 128);
  }
}

.cardTitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: left;

  &.theme-light {
    color: $light-main-text;
  }
  &.theme-dark {
    color: $dark-main-text;
  }
  &.theme-violet {
    color: $violet-main-text;
  }
}

.cardDescriptionWrapper {
  max-width: 290px;
  height: 39px;

  &.theme-light {
    color: $light-secondary-text;
  }
  &.theme-dark {
    color: $dark-secondary-text;
  }
  &.theme-violet {
    color: $violet-secondary-text;
  }
}

.cardDescription {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 14px;
  letter-spacing: -0.28px;
  max-width: 290px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-line;

  &.theme-light {
    color: $light-secondary-text;
  }
  &.theme-dark {
    color: $dark-secondary-text;
  }
  &.theme-violet {
    color: $violet-secondary-text;
  }
}

.cardLine {
  display: flex;

  &.theme-light {
    border: 1px solid rgba(22, 22, 22, 0.1);
  }
  &.theme-dark {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  &.theme-violet {
    border: 1px solid rgba(22, 22, 22, 0.1);
  }
}
.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPriority {
  display: flex;
  gap: 12px;
}

.cardSubtitle {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  margin-top: 14px;

  &.theme-light {
    color: $light-secondary-text;
  }
  &.theme-dark {
    color: $dark-secondary-text;
  }
  &.theme-violet {
    color: $violet-secondary-text;
  }
}

.cardBellPrimary {
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin: 4px 0;
  &.priorityClass-high {
    background-color: rgba(190, 219, 176, 1);
  }
  &.priorityClass-medium {
    background-color: rgba(224, 156, 181, 1);
  }
  &.priorityClass-low {
    background-color: rgba(143, 161, 208, 1);
  }
  &.priorityClass-without {
    background-color: rgb(128, 128, 128);
  }
}

.cardSubtextPrimary {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.2px;

  &.theme-light {
    color: $light-main-text;
  }
  &.theme-dark {
    color: $dark-main-text;
  }
  &.theme-violet {
    color: $violet-main-text;
  }
}

.cardSubtextDeadline {
  font-weight: 400;
  font-size: 10px;
  margin-top: 4px;
  &.theme-light {
    color: $light-main-text;
  }
  &.theme-dark {
    color: $dark-main-text;
  }
  &.theme-violet {
    color: $violet-main-text;
  }
}

.IconWrapper {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-top: 17px;
  cursor: pointer;
}
.cardIcon {
  display: block;
  width: 22px;
  height: 35px;
  padding: 9px 3px 7px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.theme-light {
    color: $light-secondary-text;
    &:hover {
      color: $light-icon-hover;
    }
  }
  &.theme-dark {
    color: $dark-secondary-text;
    &:hover {
      color: $dark-icon-hover;
    }
  }
  &.theme-violet {
    color: $violet-secondary-text;
    &:hover {
      color: $violet-icon-hover;
    }
  }
}

.cardBellIcon {
  display: block;
  width: 22px;
  height: 35px;
  padding: 9px 3px 7px;

  background-color: transparent;

  filter: drop-shadow(0px 0px 6px $dark-icon-hover);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.theme-light {
    color: $light-bell-color;
    &:hover {
      color: $light-secondary-text;
    }
  }
  &.theme-dark {
    color: $dark-bell-color;
    &:hover {
      color: $dark-secondary-text;
    }
  }
  &.theme-violet {
    color: $violet-bell-color;
    &:hover {
      color: $violet-secondary-text;
    }
  }
}
