@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

@import '../../styles/variables';

.button-custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  border: none;

  &.theme-light {
    background-color: $light-modal-bg;
    color: $dark-button-bg;
  }
  &.theme-dark {
    background-color: $dark-modal-bg;
    color: $dark-button-bg;
  }
  &.theme-violet {
    background-color: $violet-modal-bg;
    color: $violet-button-bg;
}
}

.input-custom-text {
  margin-right: 10px;
}

.react-datepicker__header {
      text-align: center;
      background-color:  inherit;
      border: none;
      padding: 18px 0;
      margin: 0 18px;
      position: relative;
  }

  .react-datepicker__current-month {
    color: $violet-calendar-day-text;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02px;
}

  .react-datepicker__navigation-icon--previous::before {
    border-color: $violet-navigation-icon-previous;
    width: 8px;
    height: 8px;
}

.react-datepicker__navigation-icon--next::before {
    border-color: $violet-sidebar-bg;
    width: 8px;
    height: 8px;
}

.react-datepicker__navigation--previous {
    top: 12px;
}

.react-datepicker__navigation--next {
    top: 12px;
}

.react-datepicker__navigation {  
    &:hover {
    *::before {
      border-color: $violet-main-text;
    }
  }
}

  .react-datepicker__day-names {
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid $calendar-line;
    display: flex;
    gap: 11px;
}

  .react-datepicker__day-name {
  color: $violet-calendar-weekday-text;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2;
  margin: 0px;
  width: 22px;
  height: 22px;
  }

  .react-datepicker__day {
    font-family: 'Poppins';
    font-weight: 400;
    color: $violet-calendar-day-text;
    font-size: 14px;
    // line-height: 18px;
    letter-spacing: 0.2;
    margin-top: 0px;
    &:hover {
      color:  $calendar-selected-day;
      border-radius: 50%;
      background-color: $violet-button-bg-hover;
    }

  
    &--today {
      font-weight: bold;
    }

    &--selected {
      background-color: $violet-button-bg;
    color: $calendar-selected-day;
    border-radius: 50%;
    }
    &--disabled {
      cursor: default;
      color: $datepicker__muted-color;
  
      &:hover {
        background-color: transparent;
      }
    }
}

.react-datepicker__triangle {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


  .theme-light {
    &.react-datepicker {
      font-family: 'Poppins';
      font-size: 14px;
      background-color: $light-modal-bg;
      color: #ffff;
      border: $light-border;
      border-radius: 8px;
      display: inline-block;
      position: relative;
    }
    &.react-datepicker__day-name {
      color: $light-main-text;
      font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 0.2;
    margin: 0px;
    width: 22px;
    height: 22px;
    margin-bottom: 11px;
    }

 }


  .theme-dark {
    
    &.react-datepicker {
      font-family: 'Poppins';
      font-size: 14px;
      background-color:  $dark-modal-bg;
      color: $dark-main-text;
      border: $dark-border;
      border-radius: 8px;
      display: inline-block;
      position: relative;
    }
  
    &.react-datepicker__day-name {
      color: $dark-main-text;
    }

    &.react-datepicker__day {
      color: $dark-main-text;
    }

    &.react-datepicker__day--selected {
      background-color: $light-button-bg;
      color: $light-main-text;
      border-radius: 50%;
  }
   
  }


  .theme-violet {
    
    &.react-datepicker {
      font-family: 'Poppins';
      font-size: 14px;
      background-color:  $violet-header-bg;
      color: #ffff;
      border: 1px solid $violet-sidebar-bg;
      border-radius: 8px;
      display: inline-block;
      position: relative;
    }
  
    &.react-datepicker__day-name {
      color: $violet-main-text;
    }
  //   &.react-datepicker__day--selected {
  //     background-color: $violet-button-bg;
  //     color: $light-main-text;
  //     border-radius: 50%;
  // }
}

