.react-calendar {
    width: 280px;
    max-width: 100%;
    background-color: #1F1F1F;
    border: 1px solid #BEDBB0;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  abbr[title] {
    text-decoration: none;
   }
.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar__viewContainer {
    display: flex;
    margin: 10px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    color: #ffffff;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 35px;
    margin: 10px;
    padding-bottom: 5px;
   border-bottom-style: solid;
   border-bottom-color: rgba(255,255,255, 0.2);
  }
  
  .react-calendar__navigation button {
    min-width: 20px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #1F1F1F;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #1F1F1F;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    color: rgba(255,255,255, 0.5);
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #ffffff;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #1F1F1F;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
  }
  
  .react-calendar__tile:disabled {
    background-color: #1F1F1F;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #1F1F1F;
  }
  
  .react-calendar__tile--now {
    background: #BEDBB0;
    border-radius: 50%;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #7cb55d;
  }
  
  .react-calendar__tile--hasActive {
    background: #bcd5b0;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    border-radius: 50%;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }