@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.screenPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100% - 60px);
  width: 100%;

  padding: 14px 20px 24px;
  @include pre-mobile {
    max-width: 375px;
  }
  @include mobile {
    width: 375px;
  }

  @include tablet {
    width: 768px;
    height: calc(100% - 68px);
    padding: 26px 32px 32px;
  }

  @include desktop {
    width: 1180px;
    padding: 10px 24px 8px;
  }
  &.theme-light {
    background: $light-screens-bg;
  }
  &.theme-dark {
    background: $dark-screens-bg;
  }
  &.theme-violet {
    background: $violet-screens-bg;
  }
}
.screenPage_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 39px;
  @include tablet {
    margin-bottom: 26px;
  }
  @include desktop {
    margin-bottom: 10px;
  }
}
.screenPage_title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;

  @include tablet {
    font-size: 18px;
  }

  &.theme-light {
    color: $light-main-text;
  }
  &.theme-dark {
    color: $dark-main-text;
  }
  &.theme-violet {
    color: $violet-main-text;
  }
}
.screenPage_filter {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;

  // &.theme-light {
  //   fill: $light-main-text;
  // }
  // &.theme-dark {
  //   fill: $dark-main-text;
  // }
  // &.theme-violet {
  //   fill: $violet-main-text;
  // }
}

.screenPage_filterText {
  color: $dark-main-text;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  &.theme-light {
    color: $light-main-text;
  }
  &.theme-dark {
    color: $dark-main-text;
  }
  &.theme-violet {
    color: $violet-main-text;
  }
}
.screenPage_canvas {
  text-align: start;
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;

  // flex-grow: 1;
  // position: relative;
}
.screenPage_columns {
  display: inline-block;
  // height: 100%;
  @include tablet {
  }
  @include desktop {
    // user-select: none;
    // white-space: nowrap;
  }
}
.screenPage_addButton {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 335px;
  padding: 14px 78px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;

  &.theme-light {
    background: $light-sidebar-bg;
  }
  &.theme-dark {
    background: $dark-sidebar-bg;
  }
  &.theme-violet {
    background: $violet-button-text;
  }
}
.screenPage_addButtonText {
  color: $dark-main-text;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;

  &.theme-light {
    color: $light-main-text;
  }
  &.theme-dark {
    color: $dark-main-text;
  }
  &.theme-violet {
    color: $violet-main-text;
  }
}

.screenPage_addButtonPlus {
  display: block;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.theme-light {
    background: $light-sidebar-bg;
  }
  &.theme-dark {
    background: $dark-sidebar-bg;
  }
  &.theme-violet {
    background: $violet-sidebar-bg;
    fill: #fff;
  }
}
