@import '../../styles/variables';
@import '../../styles/responsive';

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  padding: 24px;
  transform: translate(-50%, -50%);
  border-radius: 8px;

  &.theme-light {
    background-color: $light-modal-bg;
    color: $light-main-text;
  }

  &.theme-dark {
    background-color: $dark-modal-bg;
    border: 1px solid rgba(190, 219, 176, 0.5);
    box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.05);
    color: $dark-main-text;
  }

  &.theme-violet {
    background-color: $violet-modal-bg;
    color: $violet-main-text;
  }

  .close-modal-button {
    position: absolute;
    right: 14px;
    top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &.theme-light {
      color: $light-main-text;
    }

    &.theme-dark {
      color: $dark-main-text;
    }

    &.theme-violet {
      color: $violet-main-text;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.theme-dark {
    background-color: rgba(21, 21, 21, 0.5);
  }

  &.theme-light {
    background-color: rgba(21, 21, 21, 0.3);
  }

  &.theme-violet {
    background-color: rgba(21, 21, 21, 0.3);
  }
}

.open-modal-button {
  // background-color: transparent;
  // border: none;
  cursor: pointer;

  // &.theme-light {
  //   color: $light-main-text;
  // }

  // &.theme-dark {
  //   color: $dark-main-text;
  // }

  // &.theme-violet {
  //   color: $violet-main-text;
  // }
}
