@import '../../../styles/variables.scss';
@import '../../../styles//responsive.scss';

.menu {
  position: absolute;
  top: 50%;
  width: 0%;
  height: 100dvh;
  transform: translate(-50%, -50%);

  &.theme-light {
    color: $light-main-text;
  }

  &.theme-dark {
    box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.05);
    color: $dark-main-text;
  }

  &.theme-violet {
    color: $violet-main-text;
  }
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include desktop {
    display: none;
  }

  &.theme-dark {
    background-color: rgba(21, 21, 21, 0.5);
  }

  &.theme-light {
    background-color: rgba(21, 21, 21, 0.3);
  }

  &.theme-violet {
    background-color: rgba(21, 21, 21, 0.3);
  }
}

.open-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}
.menu-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  // max-width: 375px;
  height: 100dvh;
  transform: translate(-50%, -50%);
  background: transparent;
  &.active {
    animation: slideIn 0.3s ease forwards;
  }
  @include tablet {
    min-width: 768px;
  }

  @keyframes slideIn {
    0% {
      transform: translate(-100%, -50%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
}
