@import '../../styles/responsive';
@import '../../styles/variables';
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 60px;
  &.theme-violet {
    background-color: $violet-header-bg;
    color: $violet-main-text;
  }
  &.theme-dark {
    background-color: $dark-header-bg;
    color: $dark-main-text;
  }
  &.theme-light {
    background-color: $light-header-bg;
    color: $light-main-text;
  }

  @include mobile {
    width: 375px;
  }

  @include tablet {
    width: 768px;
    height: 68px;
  }

  @include desktop {
    width: 1180px;
  }
}
.select {
  position: relative;
  width: 100px;
  height: 40px;
  margin: 0 auto;

  &[data-state='active'] {
    .selectTitle {
      svg {
        transform: translate(1px, 1%) rotate(180deg);
      }
    }

    .selectContent {
      opacity: 1;
      max-height: 300px;
    }

    .selectLabel + .selectInput + .selectLabel {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
  & .selectTitle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    cursor: pointer;
    svg {
      transform: translate(1px, 1%) rotate(360deg);
    }

    &.theme-violet {
      color: $violet-theme-title;
      background: none;
    }
    &.theme-dark {
      color: $dark-icon-color;
      background: none;
    }
    &.theme-light {
      background: none;
      color: $light-theme-title;
    }
  }
  & .selectContent {
    position: absolute;
    top: 40px;
    left: 3px;

    display: flex;
    flex-direction: column;
    padding: 18px 44px 18px 18px;
    text-align: left;

    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 8;
    &.theme-violet {
      border: $violet-border;
      box-shadow: $violet-box-shadow;
      background: $violet-modal-bg;
    }
    &.theme-dark {
      border: $dark-border;
      box-shadow: $dark-box-shadow;
      background: $dark-modal-bg;
    }
    &.theme-light {
      border: $light-border;
      box-shadow: $light-box-shadow;
      background: $light-modal-bg;
    }
  }
  & .selectContainer:not(:last-child) {
    padding-bottom: 4px;
  }
  & .selectInput {
    display: none;
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
    &.theme-violet {
      &:checked + label {
        color: $violet-button-bg;
      }
    }
    &.theme-dark {
      &:checked + label {
        color: $dark-button-bg;
      }
    }
    &.theme-light {
      &:checked + label {
        color: $light-button-bg;
      }
    }
  }
  & .selectLabel {
    max-height: 40px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;

    transition: all 0.2s ease-out;

    cursor: pointer;

    overflow: hidden;
    border-radius: 20%;
    &.theme-violet {
      color: $violet-main-text;
      background: none;
    }
    &.theme-dark {
      color: $dark-main-text;
      background: none;
    }
    &.theme-light {
      color: $light-main-text;
      background: none;
    }
  }
}
