@import '../../styles/responsive';
@import '../../styles/variables';

.header {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 60px;
  background-color: $dark-header-bg;
  color: #fff;

  @include mobile {
    width: 375px;
  }

  @include tablet {
    width: 768px;
    height: 68px;
  }

  @include desktop {
    width: 1180px;
  }
}
