@import '../../styles/responsive';
@import '../../styles/variables';

.boardCardForm_Container {
  &.theme-light {
    background-color: $light-modal-bg;
    color: $light-main-text;
  }
  &.theme-dark {
    background-color: $dark-modal-bg;
    color: $dark-main-text;
  }
  &.theme-violet {
    background-color: $violet-modal-bg;
    color: $violet-main-text;
  }
  @include mobile {
    width: 287px;
  }
  @include tablet {
    width: 302px;
  }
  @include desktop {
    width: 302px;
  }
}
.boardCardForm_Input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  margin-bottom: 24px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  &::placeholder {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }
  &.theme-light {
    border: 1px solid $light-modal-input-border;
    &:focus {
      outline: none;
      border: 1px solid $light-modal-input-border-active;
    }
  }
  &.theme-dark {
    background-color: $dark-screens-bg;
    border: 1px solid $dark-modal-input-border;
    color: $dark-main-text;
    &:focus {
      outline: none;
      border: 1px solid $dark-modal-input-border-active;
    }
  }
  &.theme-violet {
    border: 1px solid $violet-modal-input-border;
    &:focus {
      outline: none;
      border: 1px solid $violet-modal-input-border-active;
    }
  }
}
.boardCardForm_Title {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 24px;
}
.boardCardForm_label {
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

.boardCardForm_error {
  position: absolute;
  color: #b80808;
  font-family: Poppins;
  font-size: 12px;
  top: 132px;
  &.theme-dark {
    color: #af6b6b;
  }
}
.boardCardForm_IconTitle,
.boardCardForm_BackgroundTitle {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-bottom: 14px;
}
.boardCardForm_RadioGroupIcon {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.boardCardForm_RadioGroupImage {
  display: flex;
  width: 255px;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 40px;
}
.boardCardForm_RadioGroupIcon label > input[type='radio'],
.boardCardForm_RadioGroupImage label > input[type='radio'] {
  visibility: hidden;
  position: absolute;
}
.boardCardForm_svgIcon {
  width: 18px;
  height: 18px;
  stroke-opacity: 0.5;
  &.theme-light {
    stroke: $light-main-text;
  }
  &.theme-dark {
    stroke: $dark-main-text;
  }
  &.theme-violet {
    stroke: $light-main-text;
  }
}
.boardCardForm_svgIcon:hover,
.boardCardForm_svgIconActive {
  width: 18px;
  height: 18px;
  stroke-opacity: 1;
  &.theme-light {
    stroke: $light-main-text;
  }
  &.theme-dark {
    stroke: $dark-main-text;
  }
  &.theme-violet {
    stroke: $light-main-text;
  }
}
.boardCardForm_RadioIconLabel {
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.boardCardForm_SvgBackgroundWrapper {
  padding: 6px;
}

.backgroundFirstImageContainer {
  padding: 8px;
  border-radius: 4px;
}

.imageContainerActive,
.imageContainer:hover {
  border-radius: 7px;
  overflow: hidden;
  &.theme-light {
    outline: 2px solid $light-button-bg;
  }
  &.theme-dark {
    outline: 2px solid $dark-button-bg;
  }
  &.theme-violet {
    outline: 2px solid $violet-button-bg;
  }
}
.imageContainer {
  border-radius: 7px;
  overflow: hidden;
}
.boardCardForm_backgroundImage {
  display: block;
  &.theme-light {
    stroke: $light-main-text;
    fill: $light-screens-bg;
  }
  &.theme-dark {
    stroke: $dark-main-text;
    fill: $dark-screens-bg;
  }
  &.theme-violet {
    stroke: $violet-main-text;
    fill: $violet-screens-bg;
  }
}
