@import '../../styles//responsive.scss';
@import '../../styles/variables';

.welcomeBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $welcome-background;
}

.welcomeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  @include mobile {
    width: 335px;
  }

  @include tablet {
    width: 473px;
  }
}

.welcomeImage {
  width: 124px;
  height: 124px;
  margin-bottom: 14px;
  @include tablet {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
  }
}

.welcomeLogoContainer {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 42px;
  margin-bottom: 24px;
  @include tablet {
    height: 60px;
  }
}

.logoIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: $welcome-dark-color;
  width: 40px;
  height: 40px;

  @include tablet {
    width: 48px;
    height: 48px;
  }
}

.logoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 20px;
  color: $welcome-light-color;
  @include tablet {
    width: 18px;
    height: 24px;
  }
}

.logoTitle {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: $welcome-dark-color;

  @include tablet {
    font-size: 40px;
  }
}

.welcomeDescription {
  margin-bottom: 48px;
  text-align: center;
  color: $welcome-dark-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.registrationLink {
  @include mobile {
    width: 335px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  height: 49px;
  padding: 14px;
  margin-bottom: 14px;
  color: $welcome-light-color;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  border-radius: 8px;
  background: $welcome-dark-color;
  transition: 500ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $link-background;
    color: $welcome-dark-color;
  }

  @include tablet {
    width: 344px;
  }
}

.logInLink {
  text-decoration: none;
  color: $welcome-dark-color;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 500ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $welcome-dark-color;
    color: $welcome-light-color;
  }
}
