@import '../../styles/responsive';
@import '../../styles/variables';

.sidebar {
  display: none;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 225px;
  max-width: 225px;
  color: white;
  background-color: $dark-sidebar-bg;

  &.theme-violet {
    background-color: $violet-sidebar-bg;
    color: $violet-sidebar-text;
  }
  &.theme-dark {
    background-color: $dark-sidebar-bg;
    color: $dark-main-text;
  }
  &.theme-light {
    background-color: $light-sidebar-bg;
    color: $light-main-text;
  }

  @include tablet {
    min-width: 260px;
    max-width: 260px;
  }

  @include desktop {
    display: flex;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px 14px;

    @include tablet {
      padding: 24px 24px;
    }
  }

  .logoIcon {
    width: 32px;
    height: 32px;
  }

  .logoName {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.64px;
  }

  .customAdviseWrapper {
    padding: 0px 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 70px;
    margin-bottom: 40px;

    @include tablet {
      padding: 0px 24px;
      margin-top: 60px;
    }

    @include desktop {
      margin-top: 64px;
    }
  }

  .customAdvise {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    width: 62px;
    height: 18px;
  }

  .createBoard {
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .createBoardText {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: normal;
    width: 78px;
    height: 42px;

    @include desktop {
      width: 76px;
    }
  }

  .createBoardButton {
    background: none;
    border: none;
    width: 40px;
    height: 36px;
    background-color: #bedbb0;
    padding: 8px 10px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #121212;
    cursor: pointer;

    @include tablet {
      margin-right: 0px;
      border-radius: 6px;
    }
  }

  .projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4px;
  }

  .boardLinkWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 22px 14px;
    background-color: #1f1f1f;

    @include tablet {
      padding: 22px 24px;
    }
  }

  .boardLink {
    display: flex;
    align-items: center;
    gap: 4px;

    @include desktop {
      gap: 8px;
    }
  }

  .projectName {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
  }

  .tools-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .toolsIcons {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .board-marker {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border: 2px solid #bedbb0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .backSidebarWrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  // .helpWrapper {
  //   // padding: 0 14px;
  // }

  .helpInsideWrapper {
    background-color: #1f1f1f;
    padding: 14px;
    margin: 0 14px;
    border-radius: 8px;

    @include tablet {
      padding: 20px;
      margin: 0 24px;
    }
  }

  .cactusIcon {
    width: 54px;
    height: 78px;
  }

  .helpTextSidebar {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.24px;
    margin-top: 14px;
    width: 168px;
    height: 80px;

    @include tablet {
      font-size: 14px;
      line-height: 20px; /* 142.857% */
      letter-spacing: -0.28px;
      width: 172px;
      height: 102px;
    }
  }

  .taskProWord {
    color: #bedbb0;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
  }

  .helpCircleWrapper {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .helpCircleIcon {
    width: 20px;
    height: 20px;
  }

  .needHelpText {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
  }

  .logOutWrapper {
    margin: 24px 0px 24px 24px;
  }

  .logOutButton {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;

    @include desktop {
      font-size: 16px;
    }
  }
}
