@import '../../styles/responsive';
@import '../../styles/variables';

.sidebar {
  display: none;
  color: white;
  background-color: $dark-sidebar-bg;

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 260px;
  }
}
